@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
 font-family: "IntegralCF Heavy";
 src: url("/fonts/integral-cf-heavy.otf") format("opentype");
 font-weight: normal;
 font-style: normal;
}



* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Geist", monospace;
 /* color: white; */
 scroll-behavior: smooth;
}

/* Style for the scrollbar */
::-webkit-scrollbar {
 width: 5px;
 height: 5px;
 background-color: transparent; /* Ensure scrollbar background is transparent */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
 background-color: transparent; /* Remove the white background */
 box-shadow: none; /* Remove any shadow that may appear */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
 background-color: #39ff14; /* Neon Green color */
 border-radius: 10px;
 box-shadow: 0 0 8px #39ff14; /* Neon glowing effect */
 border: none; /* Remove any default border */
}

/* Hover effect for scrollbar handle */
::-webkit-scrollbar-thumb:hover {
 background-color: #00ff00; /* Brighter Neon Green when hovered */
 box-shadow: 0 0 16px #00ff00; /* Brighter glowing effect when hovered */
}

#wrapper {
 text-align: center;
}

.glitch {
 position: relative;
 color: #fff;
 font-size: 14px;
 /* letter-spacing: 0.5em; */
 animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before,
.glitch::after {
 content: attr(data-text);
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 color: #fff;
 clip: rect(0, 9999px, 0, 0);
 animation: glitch-anim 2s infinite linear alternate-reverse;
}

.glitch::before {
 left: 2px;
 text-shadow: -2px 0 #ff00c1;
 animation-delay: 0.1s;
}

.glitch::after {
 left: -2px;
 text-shadow: -2px 0 #ff00c1, 2px 2px #ff00c1;
 animation-delay: 0.3s;
}

@keyframes glitch-anim {
 0% {
  clip: rect(0, 9999px, 10px, 0);
  transform: skew(0deg);
 }
 20% {
  clip: rect(10px, 9999px, 30px, 0);
  transform: skew(0.5deg);
 }
 40% {
  clip: rect(20px, 9999px, 50px, 0);
  transform: skew(-0.5deg);
 }
 60% {
  clip: rect(30px, 9999px, 70px, 0);
  transform: skew(0.3deg);
 }
 80% {
  clip: rect(40px, 9999px, 90px, 0);
  transform: skew(-0.3deg);
 }
 100% {
  clip: rect(0, 9999px, 10px, 0);
  transform: skew(0deg);
 }
}

@keyframes glitch-anim2 {
 0% {
  clip: rect(0, 9999px, 10px, 0);
  transform: skew(0deg);
 }
 20% {
  clip: rect(10px, 9999px, 30px, 0);
  transform: skew(0.5deg);
 }
 40% {
  clip: rect(20px, 9999px, 50px, 0);
  transform: skew(-0.5deg);
 }
 60% {
  clip: rect(30px, 9999px, 70px, 0);
  transform: skew(0.3deg);
 }
 80% {
  clip: rect(40px, 9999px, 90px, 0);
  transform: skew(-0.3deg);
 }
 100% {
  clip: rect(0, 9999px, 10px, 0);
  transform: skew(0deg);
 }
}

@layer utilities {
 .img-hero-wrapper {
  @apply relative bg-gradient-to-b to-slate-800 rounded-full overflow-hidden p-1;
 }

 .img-hero-wrapper::before {
  background: conic-gradient(
   rgba(255, 255, 255, 2) 0deg,
   rgba(255, 255, 255, 2) 60deg,
   transparent 100deg
  );

  @apply absolute h-[150%] w-[150%] left-[-25%] top-[-25%] content-[''] animate-border-spin;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8))
   drop-shadow(0 0 30px rgba(255, 255, 255, 0.6))
   drop-shadow(0 0 45px rgba(255, 255, 255, 0.4)) blur(2px);
 }

 .img-hero {
  @apply relative h-[calc(100%-3px)] w-[calc(100%-3px)] top-[1.5px] left-[1.5px] rounded-full bg-gradient-to-b from-slate-800 to-slate-900;
 }

 .about-wrapper {
  @apply relative  overflow-hidden p-[2px];
 }

 .about-wrapper::before {
  background: conic-gradient(
   rgba(255, 255, 255, 1) 0deg,
   rgba(255, 255, 255, 1) 0deg,
   transparent 80deg
  );

  @apply absolute h-[150%] w-[150%] left-[-25%] top-[-25%] content-[''] animate-border-spin;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8))
   drop-shadow(0 0 30px rgba(255, 255, 255, 0.6))
   drop-shadow(0 0 45px rgba(255, 255, 255, 0.4)) blur(2px);
 }

 .about {
  @apply relative h-[calc(100%-2px)] w-[calc(100%-2px)] top-[1px] left-[1px] bg-black;
 }
}
