@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Roboto", monospace;
 color: white;
 scroll-behavior: smooth
}

@layer utilities {
 .img-hero-wrapper {
  @apply relative bg-gradient-to-b to-slate-800 rounded-full overflow-hidden;
 }

 .img-hero-wrapper::before {
  background: conic-gradient(
   rgba(255, 255, 255, 2) 0deg,
   rgba(255, 255, 255, 2) 60deg,
   transparent 100deg
  );

  @apply absolute h-[150%] w-[150%] left-[-25%] top-[-25%] content-[''] animate-border-spin;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8)) 
         drop-shadow(0 0 30px rgba(255, 255, 255, 0.6)) 
         drop-shadow(0 0 45px rgba(255, 255, 255, 0.4))
         blur(2px);
 }

 .img-hero {
  @apply relative h-[calc(100%-3px)] w-[calc(100%-3px)] top-[1.5px] left-[1.5px] rounded-full bg-gradient-to-b from-slate-800 to-slate-900;
 }
}
